<head>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% load static %}
<link rel="stylesheet" href="{% static "master.css" %}">
 </head>

<body>
  <!--<div id="txtHint"><b>info </b></div> -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/mathjs/3.2.1/math.min.js"></script>
  <script>

  function run() {
  $.ajax(
    {
        type:"GET",
        url: "/accelo/delete",
        data:{vid:vid.value},
        success: function( data ) 
        {       
           			$( '#txtSend' ).html(data);
    }
     });
  
 }
 </script>
  <form id="sensor">
   <h4>Enter a Element Vid to Delete<br>
  <input type="text" id="vid" name="vid"> </h4> 
  <button class="button" type="button" onclick="run()">Click to Delete</button>
  </form>
  <div id="txtSend"></div>
  <button class="button" type="button" onclick="location.href='/accelo/plot'"">View Fingerprint</button>
 </body>
 
